<div class="container mt-5">

    <h1 class="mb-4 text-center">🧍 Gestion de inquilinos</h1>

    <div class="d-grid gap-3 col-6 mx-auto">
    <a routerLink="/inquilinos/crear" class="btn btn-success btn-lg">📝 Crear Inquilino</a>
    <a routerLink="/inquilinos/1" class="btn btn-info btn-lg text-white">🔍 Ver un Inquilino</a>
    <a routerLink="/inquilinos/lista" class="btn btn-primary btn-lg">📋 Ver Inquilinos</a>
    <a routerLink="/inquilinos/1/editar" class="btn btn-warning btn-lg">✏️ Editar Inquilino</a>
    <a routerLink="/inquilinos/1/eliminar" class="btn btn-danger btn-lg">🗑️ Eliminar Inquilino</a>
  </div>
</div>
