<div class="container mt-4">
  <h2>Editar Contrato</h2>

  <form (ngSubmit)="editLease()">
    <div class="mb-3">
      <label for="id" class="form-label">ID del Contrato</label>
      <input
        type="number"
        id="id"
        [(ngModel)]="id"
        name="id"
        class="form-control w-25"
        required
      />
    </div>

    <div class="mb-3">
      <label for="startDate" class="form-label">Fecha de Inicio</label>
      <input
        type="date"
        id="startDate"
        [(ngModel)]="lease.startDate"
        name="startDate"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <label for="endDate" class="form-label">Fecha de Fin</label>
      <input
        type="date"
        id="endDate"
        [(ngModel)]="lease.endDate"
        name="endDate"
        class="form-control"
      />
    </div>

    <div class="mb-3">
      <label for="dniTenant" class="form-label">DNI del Inquilino</label>
      <input
        type="number"
        id="dniTenant"
        [(ngModel)]="lease.dniTenant"
        name="dniTenant"
        class="form-control"
      />
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
  </form>

  <div *ngIf="message" class="alert alert-info mt-3">
    {{ message }}
  </div>

  <button class="btn btn-secondary mt-3" [routerLink]="['/historial']">Volver</button>
</div>

