<div class="container mt-5">
  <h1 class="mb-4 text-center">📄 Gestión de historial de contratos</h1>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a routerLink="/historial/detalle" class="btn btn-success btn-lg">📝 Ver un Contrato</a>
    <a routerLink="/historial/todos" class="btn btn-primary btn-lg">📋 Ver Todos los Contratos</a>
    <a routerLink="/historial/inquilino" class="btn btn-info btn-lg text-white">👤 Contratos por Inquilino</a>
    <a routerLink="/historial/departamento" class="btn btn-secondary btn-lg">🏠 Contratos por Departamento</a>
    <a routerLink="/historial/edit" class="btn btn-warning btn-lg">✏️ Editar Contrato</a>
  </div>
</div>
