<div class="container mt-5">
  <h2 class="mb-4">🔍 Buscar propiedad por nombre</h2>

  <form (ngSubmit)="searchPropertyByName()" #buscarForm="ngForm" class="mb-4">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre de la Propiedad</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        class="form-control w-25"
        [(ngModel)]="propertyName"
        required
      />
    </div>

    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="property" class="card mt-4 p-3">
    <h4>Propiedad encontrada</h4>
    <p><strong>Nombre:</strong> {{ property.propertyName }}</p>
    <p><strong>Dirección:</strong> {{ property.adress }}</p>
  </div>

  <div class="mt-4">
    <a routerLink="/propiedad" class="btn btn-secondary">Volver</a>
  </div>
</div>

