# Node modules y dist Angular
**/node_modules/
**/dist/

# IntelliJ config
**/.idea/

# Maven
**/target/

# VS Code settings (salvo config útiles)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Otros archivos innecesarios
.DS_Store
Thumbs.db
*.log
