<div class="container mt-5">
  <h1 class="mb-4 text-center">🏢 Gestión de Propiedades</h1>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a routerLink="/propiedad/crear" class="btn btn-success btn-lg">📝 Crear Propiedad</a>
    <a routerLink="/propiedad/buscar" class="btn btn-info btn-lg text-white">🔍 Ver una propiedad </a>
    <a routerLink="/propiedad/lista" class="btn btn-primary btn-lg">📋 Ver Propiedades</a>
    <a routerLink="/propiedad/editar" class="btn btn-warning btn-lg">✏️ Editar Propiedad</a>
    <a routerLink="/propiedad/eliminar" class="btn btn-danger btn-lg">🗑️ Eliminar Propiedad</a>
  </div>
</div>
