<div class="container mt-5">
  <h2 class="mb-4">Editar Propiedad</h2>

  <div *ngIf="message" class="alert alert-info">{{ message }}</div>

  <div class="mb-3">
    <label for="buscarNombre" class="form-label">Nombre de la propiedad:</label>
    <input type="text" id="buscarNombre" class="form-control w-25" [(ngModel)]="propertyName" name="propertyName"
      placeholder="Ej: Edificio Central" />
    <button (click)="searchPropertyByName()" class="btn btn-primary mt-2" type="button">
      Buscar
    </button>
  </div>


  <div *ngIf="propertyToEdit?.adress || propertyToEdit?.propertyName" class="card mt-4 p-3 shadow">
    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input type="text" id="direccion" class="form-control" [(ngModel)]="propertyToEdit.adress" name="adress">
    </div>

    <div class="mb-3">
      <label for="nuevoNombre" class="form-label">Nuevo nombre:</label>
      <input type="text" id="nuevoNombre" class="form-control" [(ngModel)]="propertyToEdit.propertyName"
        name="propertyName">
    </div>

    <button (click)="editProperty()" class="btn btn-success">Guardar Cambios</button>
  </div>

  <div class="mt-4">
    <a routerLink="/propiedad" class="btn btn-secondary">Volver</a>
  </div>
</div>