<div class="container mt-4">
  <h2>Editar Recibo</h2>

  <form (ngSubmit)="searchReceipt()">
    <div class="mb-3">
      <label for="id" class="form-label">ID del Recibo</label>
      <input type="number" id="id" [(ngModel)]="id" name="id" class="form-control w-25" required />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
  </form>


  <form *ngIf="receiptResponse" (ngSubmit)="editReceipt()">
    <div class="mb-3">
      <label for="date" class="form-label">Fecha</label>
      <input type="date" id="date" [(ngModel)]="receiptEdit.date" name="date" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="rent" class="form-label">Alquiler</label>
      <input type="number" id="rent" [(ngModel)]="receiptEdit.rent" name="rent" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="expenses" class="form-label">Expensas</label>
      <input type="number" id="expenses" [(ngModel)]="receiptEdit.expenses" name="expenses" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="obrasSanitarias" class="form-label">Obras Sanitarias</label>
      <input type="number" id="obrasSanitarias" [(ngModel)]="receiptEdit.obrasSanitarias" name="obrasSanitarias" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="others" class="form-label">Otros</label>
      <input type="number" id="others" [(ngModel)]="receiptEdit.others" name="others" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="totalInString" class="form-label">Total en Letras</label>
      <input type="text" id="totalInString" [(ngModel)]="receiptEdit.totalInString" name="totalInString"
        class="form-control" />
    </div>

    <div class="mb-3">
      <label for="dniTenant" class="form-label">DNI del Inquilino</label>
      <input type="text" id="dniTenant" [(ngModel)]="receiptEdit.dniTenant" name="dniTenant" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
    <button type="button" class="btn btn-secondary ms-2"
      (click)="receiptResponse = null; receiptEdit = {}; id = 0">Cancelar</button>
  </form>

  <div *ngIf="message" class="alert alert-info mt-3">
    {{ message }}
  </div>

  <button class="btn btn-secondary mt-3" [routerLink]="['/recibo']">Volver</button>
</div>