<div class="container mt-4">
  <h2>Listado de Inquilinos</h2>

  <ng-container *ngIf="tenants && tenants.length > 0; else noTenants">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
          <th>Departamento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tenant of tenants">
          <td>{{ tenant.name }}</td>
          <td>{{ tenant.lastname }}</td>
          <td>{{ tenant.dni }}</td>
          <p *ngIf="tenant.propertyName">
            <strong>Propiedad:</strong> {{ tenant.propertyName }}
          </p>
          <td *ngIf="tenant.departmentLetter">
            Piso {{ tenant.departmentFloor }}, Letra {{ tenant.departmentLetter }}
          </td>
          <td *ngIf="!tenant.departmentLetter"><em>No asignado</em></td>
        </tr>
      </tbody>
    </table>
  </ng-container>

  <ng-template #noTenants>
    <p class="text-center text-muted">No hay inquilinos cargados.</p>
  </ng-template>

  <button class="btn btn-secondary mt-3" [routerLink]="['/inquilinos']">Volver</button>
</div>