<div class="container mt-4">
  <h2>Editar Inquilino</h2>

  <form (ngSubmit)="searchTenant()">
    <div class="mb-3" style="max-width: 200px;">
      <label for="dni" class="form-label">Buscar por DNI</label>
      <input type="text" id="dni" [(ngModel)]="dni" name="dni" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
  </form>

  <form *ngIf="encontrado" (ngSubmit)="editTenant()">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" [(ngModel)]="tenant.name" name="name" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">Apellido</label>
      <input type="text" [(ngModel)]="tenant.lastname" name="lastname" class="form-control" />
    </div>

    <div class="mb-3">
      <label class="form-label">DNI</label>
      <input type="text" [(ngModel)]="tenant.dni" name="dniTenant" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar cambios</button>
  </form>

  <div *ngIf="mensaje" class="alert alert-info mt-3">
    {{ mensaje }}
  </div>

  <a routerLink="/inquilinos" class="btn btn-secondary mt-3">Volver</a>
</div>