<div class="container mt-5">
  <h1 class="mb-4 text-center">🏘️ Departamentos</h1>

  <div class="d-grid gap-3 col-6 mx-auto">
    <a routerLink="/departamentos/crear" class="btn btn-success btn-lg">➕ Crear Departamento</a>
    <a routerLink="/departamentos/todos" class="btn btn-primary btn-lg">📋 Ver Todos</a>
    <a routerLink="/departamentos/filtrar-propiedad" class="btn btn-secondary btn-lg text-white">🏢 Filtrar por Propiedad</a>
    <a routerLink="/departamentos/busqueda-avanzada" class="btn btn-secondary btn-lg">🔎 Filtrar por Propiedad + Piso + Letra</a>
    <a routerLink="/departamentos/disponibles" class="btn btn-warning btn-lg">✅ Ver Disponibles</a>
    <a routerLink="/departamentos/asignar" class="btn btn-info btn-lg">👤➕ Asignar Inquilino</a>
    <a routerLink="/departamentos/liberar" class="btn btn-info btn-lg">🧹 Liberar Departamento</a>
    <a routerLink="/departamentos/editar" class="btn btn-dark btn-lg">✏️ Editar Departamento</a>
    <a routerLink="/departamentos/eliminar" class="btn btn-danger btn-lg">🗑️ Eliminar Departamento</a>
  </div>

</div>