<div class="container mt-4">
  <h2>Crear Inquilino</h2>

  <form [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Nombre</label>
      <input type="text" id="name" formControlName="name" class="form-control" />
      <div *ngIf="tenantForm.get('name')?.invalid && tenantForm.get('name')?.touched" class="text-danger">
        El nombre es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="lastname" class="form-label">Apellido</label>
      <input type="text" id="lastname" formControlName="lastname" class="form-control" />
      <div *ngIf="tenantForm.get('lastname')?.invalid && tenantForm.get('lastname')?.touched" class="text-danger">
        El apellido es obligatorio.
      </div>
    </div>

    <div class="mb-3">
      <label for="dni" class="form-label">DNI</label>
      <input type="text" id="dni" formControlName="dni" class="form-control" />
      <div *ngIf="tenantForm.get('dni')?.invalid && tenantForm.get('dni')?.touched" class="text-danger">
        El DNI es obligatorio.
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="tenantForm.invalid">
      Guardar Inquilino
    </button>
  </form>

  <div *ngIf="message" class="alert alert-success mt-3">
    {{ message }}
  </div>

  <button class="btn btn-secondary mt-3" [routerLink]="['/inquilinos']">Volver</button>
</div>

